<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">My Plants</a>
    <button (click)="enableAddMode()" class="btn btn-outline-success">Add New Plant</button>
</nav>
<div class="container-fluid content">
    <div class="row">
        <div class="col plants">
            <div class="row">
                <div class="col-sm-6 card-container" *ngFor='let plant of plants' (click)='onSelect(plant)' [class.selected]='plant===selectedPlant'>
                    <div class="card border-success">
                        <div class='card-body plant-element'>
                            <h5 class="card-title text-success">{{plant.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted font-italic">{{plant.latin}}</h6>
                            <div>
                                <div class='card-text'>
                                    <span>Light: {{Light[plant.light]}}</span>
                                    <span>Water: {{Water[plant.water]}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col editarea'>
            <div *ngIf="selectedPlant" class='editplant'>
                <form>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="name">name:</label>
                            <input class="form-control" [(ngModel)]="selectedPlant.name" placeholder="name">
                        </div>
                        <div class="form-group">
                            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedPlant.light">
                                <label ngbButtonLabel>
                                    <input ngbButton type="radio" value="1"> Very Low
                                </label>
                                <label ngbButtonLabel>
                                    <input ngbButton type="radio" value="2"> Low
                                </label>
                                <label ngbButtonLabel>
                                    <input ngbButton type="radio" [value]="3"> Medium
                                </label>
                                <label ngbButtonLabel>
                                    <input ngbButton type="radio" [value]="4"> High
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedPlant.water">
                                <label ngbButtonLabel>
                                    <input ngbButton type="radio" value="2"> Low
                                </label>
                                <label ngbButtonLabel>
                                    <input ngbButton type="radio" [value]="3"> Medium
                                </label>
                                <label ngbButtonLabel>
                                    <input ngbButton type="radio" [value]="4"> High
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="care">care:</label>
                            <textarea class="form-control" [(ngModel)]="selectedPlant.care"></textarea>
                        </div>
                    </div>
                    <button class="btn" (click)="cancel()">Cancel</button>
                    <button class="btn" (click)="save()">Save</button>
                    <button class="btn" (click)="deletePlant(selectedPlant)">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>