<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">My Plants</a>
    <div class="collapse navbar-collapse">
        <ul></ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col plants">
            <div *ngFor='let plant of plants' (click)='onSelect(plant)' [class.selected]='plant===selectedPlant'>
                <div class="card">
                    <div class='card-body plant-element'>
                        <h5 class="card-title">{{plant.name}}</h5>
                        <div>
                            <span class="card-title"></span>
                            <div class='card-text'>
                                <span>Light: {{Light[plant.light]}}</span>
                                <span>Water: {{Water[plant.water]}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col editarea'>
            <button (click)="enableAddMode()">Add New Plant</button>
            <div *ngIf="selectedPlant" class='editplant'>
                <div class="editfields">
                    <div>
                        <label for="name">name:</label>
                        <input class="form-field" [(ngModel)]="selectedPlant.name" placeholder="name">
                        <button class="delete-button" (click)="deletePlant(selectedPlant)">Delete</button>
                    </div>
                    <div>
                        <label for="light">light:</label>
                        <textarea rows="3" class="form-field" [(ngModel)]="selectedPlant.light"></textarea>
                    </div>
                    <div>
                        <label for="water">water:</label>
                        <textarea [(ngModel)]="selectedPlant.water"></textarea>
                    </div>
                    <div>
                        <label for="care">care:</label>
                        <textarea [(ngModel)]="selectedPlant.care"></textarea>
                    </div>
                </div>
                <button (click)="cancel()">Cancel</button>
                <button (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>