<div>
    <ul class='plants'>
        <li *ngFor='let plant of plants' (click)='onSelect(plant)' [class.selected]='plant===selectedPlant'>
            <div class='plant-element'>
                <button class="delete-button" (click)="deletePlant(plant)">Delete</button>
                <div class='name'>{{plant?.name}}</div>
                <div class='light'>{{plant?.light}}</div>
            </div>
        </li>
    </ul>
    <div class='editarea'>
        <button (click)="enableAddMode()">Add New Plant</button>
        <div *ngIf="selectedPlant" class='editplant'>
            <div class="editfields">
                <div>
                    <label for="id">id:</label>
                    <input [(ngModel)]="selectedPlant.id">
                </div>
                <div>
                    <label for="name">name:</label>
                    <input [(ngModel)]="selectedPlant.name" placeholder="name">
                </div>
                <div>
                    <label for="light">light:</label>
                    <input [(ngModel)]="selectedPlant.light" placeholder="light" />
                </div>
            </div>
            <button (click)="cancel()">Cancel</button>
            <button (click)="save()">Save</button>
        </div>
    </div>
</div>